@import "mixins";

#includeAB{
  background-color: rgb(138,57,57);
  .image{
    background-image: url("../imgs/botbot.jpg");
    width: 375px;
    height: 667px;
    @include prefix(box-shadow, 0 1px 1px 1px #46494C, webkit ms moz);
  }
  .text{
    color: #ffffff;
  }
}
