@import "mixins";

#includeEduhacks2{
  min-height: 70vh;
  height: auto!important;
  background-color: #ffffff;
  .text{
    color: #090909;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    .body-slider{
      width: 50%;
      height: 100%;
      @include prefix(display, flex, webkit ms moz);
      text-align: left;
      position:relative;
    }
    .delayed{
      width: inherit;
      width: 50%;
      .body-slider{
        width: 100%;
      }
    }
    p{
      padding: 10%;
      padding-top: 0;
    }
  }
}
