@import "main";

#includeCDH{
  background-color: #ffffff;
  .text{
    color: #090909;
  }
  .image{
    background-image: url("../imgs/DWA/eduhacks.png");
    width: 720px;
    height: 470px;
  }
}
