@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,300i,400,400i,500,500i,600,700,800');
@import url(font-awesome.min.css);

/*DCDCDD C5C3C6 46494C 4C5C68 1985A1*/

html,body,section,article{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 300;
  color: #46494C;
  font-family: 'Exo 2', sans-serif;
}

article, aside, details, figcaption, figure, nav, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(35,35,35);
}

ol, ul,li {
  list-style: none;
}

a{
  text-decoration: none;
  color: #429BB2;
}

p{
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 1.5em;
  font-weight: 200;
  color: #46494C;
}

/*Main*/

.page{
  position: relative;
}

.page-containers{
  margin-top: 80px;
}

.page-containers .page .image{
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.page-containers .page .image .text-body{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  position:absolute;
  top: 0;
  z-index: 4;
}

.page-containers .page .image .pan-left{
  padding-left: 5vw;
  left: 0;
  text-align: left;
}

.page-containers .page .image .pan-right{
  padding-right: 5vw;
  right: 0;
  text-align: right;
}

.page-containers .page .image .moving-image-container{
  height: 100%;
  position: absolute;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  z-index: 3;
}
.page-containers .page .image .moving-image-container .moving-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.page-containers h2{
  font-weight: 400;
  font-size: 2.8em;
  letter-spacing: 1px;
  margin: 0;
}

.page-containers h4{
  font-weight: 100;
  font-size: 2.3em;
  letter-spacing: 2px;
  margin: 0;
}

.page-containers p{
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

/*Transitions*/

.init .slider,
.init .slider-post,
.init .slider-delay,
.init .slider-post-delay,
.init .slider-delay2,
.init .slider-post-delay2{
	opacity: 0;
}

.init .fader{
	opacity: 1;
}

.page-containers .page .fader{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
}

.page-containers .page .slider{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
}

.page-containers .page .slider-delay{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  transition-delay: 0.05s;
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
}

.page-containers .page .slider-delay2{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
}

.page-containers .page .slider-post{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
}

.page-containers .page .slider-post-delay{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
}

.page-containers .page .slider-post-delay2{
  -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
  -moz-transition: -moz-transform 0.75s, opacity 0.75s;
  transition: transform 0.75s, opacity 0.75s;
  transition-delay: 0.85s;
  -webkit-transition-delay: 0.85s;
  -moz-transition-delay: 0.85s;
}

.init .left {
	-webkit-transform: translateX(-120px);
	-moz-transform: translateX(-120px);
	transform: translateX(-120px);
  opacity: 0;
}

.init .right {
	-webkit-transform: translateX(120px);
	-moz-transform: translateX(120px);
	transform: translateX(120px);
  opacity: 0;
}

.init .bottom {
  -webkit-transform: translateY(120px);
  -moz-transform: translateY(120px);
  transform: translateY(120px);
}

.page.animate .fader{
  opacity: 1;
}

.page.animate .left,
.page.animate .right,
.page.animate .bottom {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
	opacity: 1;
}

/*iPhone Portrait*/
@media only screen and (max-width: 736px) and (orientation : portrait) {
  .page-containers .page .image{
    height: 140vh;
  }

  .page-containers{
    margin-top: 65px;
  }

  .page-containers .page .image .text-body{
    width: 100%;
    height: 100%;
    padding-top: 0;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
  }

  .page-containers .page .image .moving-image-container{
    height: auto;
    position: relative;
    transform: translateY(0);
  }

  .page-containers p{
    line-height: 1.3;
    padding-right: 0;
  }

  /*come back*/
  .init .left {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }

  .init .right {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }

  .init .bottom {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }

  .page.animate .left,
  .page.animate .right,
  .page.animate .bottom {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  	opacity: 1;
  }
}
/*iPad*/
@media only screen and (max-width: 768px) {
  .page-containers .page .image{
    height: 140vh;
  }

  .page-containers{
    margin-top: 65px;
  }

  .page-containers .page .image .text-body{
    width: 100%;
    height: 100%;
    padding-top: 0;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
  }

  .page-containers p{
    line-height: 1.3;
    padding-right: 0;
  }
}

/*iPhone Landscape*/
@media only screen and (max-width: 736px) and (orientation : landscape) {
  .page-containers .page .image{
    height: 200vh;
  }

  .page-containers{
    margin-top: 65px;
  }

  .page-containers .page .image .text-body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
  }
  .page-containers p{
    line-height: 1.3;
    padding-right: 0;
    text-align: center;
  }
}


/*Sat Page 1*/

  .page-containers :nth-child(4n - 3) .image{
    background-image: url("../imgs/satdark.jpg");
  }

  .page-containers :nth-child(4n - 3) .image .text-body{
    color: #ffffff;
  }

  .page-containers :nth-child(4n - 3) .image .text-body h2{
    color: inherit;
    padding-bottom: 5%;
  }

  .page-containers :nth-child(4n - 3) .image .text-body h4{
    color: inherit;
  }

  .page-containers :nth-child(4n - 3) .image .text-body p{
    color: inherit;
    padding-top: 15%;
    padding-right: 15%;
  }

  /*Med Desktop*/
  @media only screen and (max-width: 1400px) {
    .page-containers :nth-child(4n - 3) .image{
      background-image: url("../imgs/satdarkmed.jpg");
    }
    .page-containers :nth-child(4n - 3) .image .text-body h2{
      font-size: 2.6em;
    }
    .page-containers :nth-child(4n - 3) .image .text-body h4{
      font-size: 2em;
    }
    .page-containers :nth-child(4n - 3) .image .text-body p{
      font-size: 1.4em;
      line-height: 1.4;
    }
  }

  /*iPad*/
  @media only screen and (max-width: 768px) {
  }

  /*iPhone Portrait*/
  @media only screen and (max-width: 736px) and (orientation : portrait) {
    .page-containers :nth-child(4n - 3) .image{
      background-image: url("../imgs/satdark1080x1920.jpg");
    }
    .page-containers :nth-child(4n - 3) .image .text-body h2{
      font-size: 2em;
      padding-top: 10vh;
    }
    .page-containers :nth-child(4n - 3) .image .text-body h4{
      font-size: 1.4em;
      line-height: 1.3;
    }
    .page-containers :nth-child(4n - 3) .image .text-body p{
      font-size: 1.1em;
      padding-right: 0;
      padding-left: 0;
      padding-top: 65vh;
    }
  }
  /*iPhone Landscape*/
  @media only screen and (max-width: 736px) and (orientation : landscape) {
    .page-containers :nth-child(4n - 3) .image .text-body h2{
      font-size: 2em;
      padding-top: 10vh;
    }
    .page-containers :nth-child(4n - 3) .image .text-body h4{
      font-size: 1.4em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 3) .image .text-body p{
      font-size: 1.3em;
      padding-top: 95vh;
    }
  }


/*Sat Page 2*/

  .page-containers :nth-child(4n - 2) .image{
    background-color: rgb(35,35,35);
  }

  .page-containers :nth-child(4n - 2) .image .text-body{
    color: #ffffff;
  }

  .page-containers :nth-child(4n - 2) .image .text-body h2{
    color: inherit;
    padding-bottom: 5%;
  }

  .page-containers :nth-child(4n - 2) .image .text-body h4{
    color: inherit;
  }

  .page-containers :nth-child(4n - 2) .image .text-body p{
    color: inherit;
    padding-top: 15%;
    padding-left: 15%;
  }

  .page-containers :nth-child(4n - 2) .init .animate .moving-image{
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.75s, opacity 0.75s;
    -moz-transition: -moz-transform 0.75s, opacity 0.75s;
    transition: transform 0.75s, opacity 0.75s;
    transition-delay: 0.85s;
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s;
  }

  .page-containers :nth-child(4n - 2) .moving-image-container .moving-image{
    top: 50%;
    left: 50%;
    width: 600px;
    height: 540px;
    position: absolute;
    -webkit-transform: translate(-10%, -50%);
    padding-left: 5vw;
  }

  .page-containers :nth-child(4n - 2) .end-image{
    z-index:5;
    display: none;
    padding: 0 25px;
    box-sizing: border-box;
    padding: 0;
    width: 600px;
    height: 540px;
    -webkit-transform: translate(0, 0);
  }

  .completed .moving-image video{
    display: none;
  }

  .completed .moving-image .end-image{
    display: block;
  }

  /*Med Desktop*/
  @media only screen and (max-width: 1400px) {
    .page-containers :nth-child(4n - 2) .image .text-body h2{
      font-size: 2.5em;
    }
    .page-containers :nth-child(4n - 2) .image .text-body h4{
      font-size: 1.9em;
    }
    .page-containers :nth-child(4n - 2) .image .text-body p{
      font-size: 1.3em;
      line-height: 1.4;
    }
  }

  /*iPhone Portrait*/
  @media only screen and (max-width: 736px) and (orientation : portrait) {
    .page-containers :nth-child(4n - 2) .image .text-body{
      font-size: 0.8em;
      padding-top: 0;
    }
    .page-containers :nth-child(4n - 2) .image .text-body h2{
      font-size: 2em;
      padding: 0;
    }
    .page-containers :nth-child(4n - 2) .image .text-body h4{
      font-size: 1.4em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 2) .image .text-body p{
      padding-right: 0;
      padding-left: 0;
      padding-top: 20vh;
    }
    .page-containers :nth-child(4n -2) .image .moving-image-container, .page-containers :nth-child(4n -2) .image .moving-image-container .moving-image{
      display: none;
    }
  }

  /*iPhone Landscape*/
  @media only screen and (max-width: 736px) and (orientation : landscape) {
  .page-containers :nth-child(4n - 2) .image .text-body h2{
      font-size: 2em;
      padding-top: 10vh;
    }
    .page-containers :nth-child(4n - 2) .image .text-body h4{
      font-size: 1.4em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 2) .image .text-body p{
      font-size: 1.3em;
      padding-top: 95vh;
    }
  }

  /*iPad 2126 × 2768*/
  @media only screen and (max-width: 768px) {
    .page-containers :nth-child(4n - 2) .image .text-body h2{
      font-size: 2.2em;
      padding-top: 10vh;
      padding-bottom: 0;
    }
    .page-containers :nth-child(4n - 2) .image .text-body h4{
      font-size: 1.6em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 2) .image .text-body p{
      font-size: 1.4em;
      padding-top: 20vh;
    }
  }


/*Claw Page 3*/


  .page-containers :nth-child(4n - 1) .image{
    background-image: url("../imgs/claw3green.jpg");
  }

  .page-containers :nth-child(4n - 1) .image .text-body{
    color: #090909;
  }

  .page-containers :nth-child(4n - 1) .image .text-body h2{
      color: inherit;
      padding-top: 80px;
      padding-bottom: 5%;
  }

  .page-containers :nth-child(4n - 1) .image .text-body h4{
      color: inherit;
  }

  .page-containers :nth-child(4n - 1) .image .text-body p{
      color: inherit;
      padding-top: 15%;
      padding-right: 15%;
  }

  /*Med Desktop*/
  @media only screen and (max-width: 1400px) {
    .page-containers :nth-child(4n - 1) .image{
      background-image: url("../imgs/claw2green.jpg");
    }
    .page-containers :nth-child(4n - 1) .image .text-body h2{
      font-size: 2.6em;
    }
    .page-containers :nth-child(4n - 1) .image .text-body h4{
      font-size: 2em;
    }
    .page-containers :nth-child(4n - 1) .image .text-body p{
      font-size: 1.4em;
      line-height: 1.4;
    }
  }

  /*iPhone Portrait*/
  @media only screen and (max-width: 736px) and (orientation : portrait) {
  .page-containers :nth-child(4n - 1) .image .text-body h2{
      font-size: 2em;
      padding: 0;
    }
    .page-containers :nth-child(4n - 1) .image .text-body h4{
      font-size: 1.4em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 1) .image .text-body p{
      font-size: 1.1em;
      padding-right: 0;
      padding-left: 0;
      padding-top: 64vh;
    }
    .page-containers :nth-child(4n - 1) .image{
      background-image: url("../imgs/claw0green.jpg");
    }
  }

  /*iPhone Landscape*/
  @media only screen and (max-width: 736px) and (orientation : landscape) {
  .page-containers :nth-child(4n - 1) .image .text-body h2{
      font-size: 2em;
      padding-top: 10vh;
    }
    .page-containers :nth-child(4n - 1) .image .text-body h4{
      font-size: 1.4em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 1) .image .text-body p{
      font-size: 1.3em;
      padding-top: 95vh;
    }
    .page-containers :nth-child(4n - 1) .image{
      background-image: url("../imgs/claw0green.jpg");
    }
  }

  /*iPad 2126 × 2768*/
  @media only screen and (max-width: 768px) {
    .page-containers :nth-child(4n - 1) .image .text-body h2{
      font-size: 2.2em;
      padding-top: 10vh;
      padding-bottom: 0;
    }
    .page-containers :nth-child(4n - 1) .image .text-body h4{
      font-size: 1.6em;
      padding-top: 2vh;
    }
    .page-containers :nth-child(4n - 1) .image .text-body p{
      font-size: 1.4em;
      padding-top: 65vh;
    }
    .page-containers :nth-child(4n - 1) .image{
      background-image: url("../imgs/claw0green.jpg");
    }
  }


/*Bot Page 4*/


  .page-containers :nth-child(4n) .image{
    background-color: rgb(138,57,57);
  }

  .page-containers :nth-child(4n) .image .text-body{
    color: #ffffff;
  }

  .page-containers :nth-child(4n) .image .text-body h2{
    color: inherit;
    padding-bottom: 5%;
  }

  .page-containers :nth-child(4n) .image .text-body h4{
    color: inherit;
  }

  .page-containers :nth-child(4n) .image .text-body p{
    color: inherit;
    padding-top: 15%;
    padding-left: 15%;
  }

  .page-containers :nth-child(4n) .image .moving-image{
    background-image: url("../imgs/botbot.jpg");
    width: 375px;
    height: 667px;
    top: 0;
    margin: auto auto;
    margin-left: 10vw;
    -webkit-box-shadow: 0 1px 1px 1px #46494C;
    -moz-box-shadow: 0 1px 1px 1px #46494C;
    box-shadow: 0 1px 1px 1px #46494C;
  }

  /*Med Desktop*/
  @media only screen and (max-width: 1400px) {
    .page-containers :nth-child(4n) .image .text-body h2{
      font-size: 2.6em;
    }
    .page-containers :nth-child(4n) .image .text-body h4{
      font-size: 2em;
    }
    .page-containers :nth-child(4n) .image .text-body p{
      font-size: 1.4em;
      line-height: 1.4;
    }
    .page-containers :nth-child(4n) .image .moving-image{
      margin-left: 5vw;
    }
  }

  /*iPhone Portrait*/
  @media only screen and (max-width: 736px) and (orientation : portrait) {
    .page-containers :nth-child(4n) .image{
      height: 150vh;
    }

    .page-containers :nth-child(4n) .image .text-body{
      padding-top: 0;
    }

    .page-containers :nth-child(4n) .image .text-body h2{
      color: #ffffff;
      font-size: 2em;
      padding-top: 5vh;
    }
    .page-containers :nth-child(4n) .image .text-body h4{
      color: #ffffff;
      font-size: 1.4em;
    }
    .page-containers :nth-child(4n) .image .text-body p{
      color: #ffffff;
      padding-top: 15%;
      padding-left: 15%;
      font-size: 1.1em;
      padding-right: 0;
      padding-left: 0;
      padding-top: 90vh;
    }
    .page-containers :nth-child(4n) .image .moving-image-container{
      padding-top: 43%;
    }
    .page-containers :nth-child(4n) .image .moving-image{
      max-width: 300px;
      max-height: 520px;
      margin: 0 auto;
    }
  }

  /*iPhone Landscape*/
  @media only screen and (max-width: 736px) and (orientation : landscape) {
    .page-containers :nth-child(4n) .image .moving-image{
    display: none;
    }
  }

/*Header*/

  /*Navbar*/

  #navbar{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;
  }

  #navbar h1{
    letter-spacing: 4px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0;
  }

  #navbar .inner{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: center;
    height: 80px;
    width: 100%;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-box-shadow: 0 3px 3px -3px #46494C;
  	-moz-box-shadow: 0 3px 3px -3px #46494C;
  	box-shadow: 0 3px 3px -3px #46494C;
  }

  #navbar .content{
    width: 50%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: center;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }

  #navbar .content ul{
    z-index: 9999;
    height: inherit;
    line-height: inherit;
  }

  #navbar .content li{
    font-size: 1.4em;
  }

  #navbar .cells{
    margin: auto;
    text-align: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: center;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }

  @media only screen and (max-width: 768px) {
    #navbar h1{
      font-size: 1.6em;
    }
    #navbar .content li{
      padding: 0.4em;
      font-size: 1.1em;
    }
    #navbar .cells{
      padding: 0;
    }

    #navbar .inner{
      height: 65px;
    }

  }

  @media only screen and (max-width: 736px) {
      .heading {
          font-size: 80px;
      }
      #intro h5 {
          font-size: 10px;
      }
      #navbar .cells{
        padding: 0;
      }
      #navbar .inner{
        height: 65px;
      }
  }

  /*navbar Icon*/

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    z-index: 9999;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

    .icon.alt:before {
      background-color: none;
      border-radius: 100%;
      color: #46494C;
      display: inline-block;
      height: 2.1em;
      line-height: 2.1em;
      text-align: center;
      width: 2.1em;
    }

  a.icon.alt:before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }

  a.icon.alt:hover:before {
    color: #090909;
  }

  /* text rotate */

  .heading {
      line-height: 1.0;
      position: relative;
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -ms-flex-align: center;
      -moz-flex-align:center;
      -webkit-flex-align:center;
      align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      -mos-justify-content: space-around;
      text-align: justify;
      height: inherit;
  }

  .box-words-wrapper {
      z-index: 9999;
  }

  .box-words-wrapper b {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    -moz-flex-align:center;
    -webkit-flex-align:center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -mos-justify-content: center;
    text-align: justify;
    height: inherit;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }

  .box-words-wrapper b.is-visible {
      position: relative;
  }

  .no-js .box-words-wrapper b {
      opacity: 0;
  }

  .no-js .box-words-wrapper b.is-visible {
      opacity: 1;
  }

  .heading.rotate-2 i,
  .heading.rotate-2 em {
      display: inline-block;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .heading.rotate-2 b {
      opacity: 0;
  }

  .heading.rotate-2 i {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(-20px) rotateX(90deg);
      transform: translateZ(-20px) rotateX(90deg);
      opacity: 0;
  }

  .is-visible .heading.rotate-2 i {
      opacity: 1;
  }

  .heading.rotate-2 i.in {
      -webkit-animation: box-rotate-2-in 0.6s forwards;
      animation: box-rotate-2-in 0.6s forwards;
  }

  .heading.rotate-2 i.out {
      -webkit-animation: box-rotate-2-out 0.4s forwards;
      animation: box-rotate-2-out 0.4s forwards;
  }

  .heading.rotate-2 em {
      -webkit-transform: translateZ(20px);
      transform: translateZ(20px);
  }

  @-webkit-keyframes box-rotate-2-in {
      0% {
          opacity: 0;
          -webkit-transform: translateZ(-20px) rotateX(90deg);
      }
      60% {
          opacity: 1;
          -webkit-transform: translateZ(-20px) rotateX(-10deg);
      }
      100% {
          opacity: 1;
          -webkit-transform: translateZ(-20px) rotateX(0deg);
      }
  }

  @keyframes box-rotate-2-in {
      0% {
          opacity: 0;
          -webkit-transform: translateZ(-20px) rotateX(90deg);
          transform: translateZ(-20px) rotateX(90deg);
      }
      60% {
          opacity: 1;
          -webkit-transform: translateZ(-20px) rotateX(-10deg);
          transform: translateZ(-20px) rotateX(-10deg);
      }
      100% {
          opacity: 1;
          -webkit-transform: translateZ(-20px) rotateX(0deg);
          transform: translateZ(-20px) rotateX(0deg);
      }
  }

  @-webkit-keyframes box-rotate-2-out {
      0% {
          opacity: 1;
          -webkit-transform: translateZ(-20px) rotateX(0);
      }
      60% {
          opacity: 0;
          -webkit-transform: translateZ(-20px) rotateX(-100deg);
      }
      100% {
          opacity: 0;
          -webkit-transform: translateZ(-20px) rotateX(-90deg);
      }
  }

  @keyframes box-rotate-2-out {
      0% {
          opacity: 1;
          -webkit-transform: translateZ(-20px) rotateX(0);
          transform: translateZ(-20px) rotateX(0);
      }
      60% {
          opacity: 0;
          -webkit-transform: translateZ(-20px) rotateX(-100deg);
          transform: translateZ(-20px) rotateX(-100deg);
      }
      100% {
          opacity: 0;
          -webkit-transform: translateZ(-20px) rotateX(-90deg);
          transform: translateZ(-20px) rotateX(-90deg);
      }
  }


/*About*/

  #about{
    background-color: #ffffff;
    padding: 5em 10em;
    margin: 0;
  }
  #about h3{
    letter-spacing: 3px;
    font-size: 2.4em;
    font-weight: 300;
    color: #46494C;
    text-decoration: underline;
  }

  @media only screen and (max-width: 768px) {
    #about{
      padding: 2em 2em;
    }
    #about h3 {
        font-size: 2em;
    }
    #about p {
        font-size: 1.3em;
    }
  }

  @media only screen and (max-width: 736px) {
    #about{
      padding: 2em 2em;
    }
    #about h3 {
        font-size: 2em;
    }
    #about p {
        font-size: 1.3em;
    }
  }
  }
