@import "mixins";

// Import fonts

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,300i,400,400i,500,500i,600,700,800');
@import url(font-awesome.min.css);

// Define structure of outer shell of website

html,body,section,article{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Exo 2', sans-serif;
}

article, aside, details, figcaption, figure, nav, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  ol, ul,li {
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #429BB2;
  }

  p{
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 1.5em;
    font-weight: 200;
  }
}

.pages-container{
  margin-top: 60px;
}

.page{
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  @include prefix(background-position, center, webkit ms moz);
  @include prefix(background-repeat, no-repeat, webkit ms moz);
  @include prefix(background-size, cover, webkit ms moz);
  z-index: 1;
}


.pan-left{
  .text{
    padding-left: 5vw;
    text-align: left;
    left: 0;
    p{
      padding-right: 15%;
    }
  }
}
.pan-right{
  .text{
    padding-right: 5vw;
    text-align: right;
    right: 0;
    p{
      padding-left: 15%;
    }
  }
}
.pan-middle{
  .text{
    padding-right: 10vw;
    padding-left: 10vw;
    text-align: center;
  }
}
// Define .text colour and .moving-image image in separate scss file.

.text{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  position:absolute;
  top: 0;
  z-index: 3;
  h2{
    color: inherit;
    font-weight: 400;
    font-size: 2.8em;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 5%;
  }
  h4{
    color: inherit;
    font-weight: 100;
    font-size: 2.3em;
    letter-spacing: 2px;
    margin: 0;
  }
  p{
    color: inherit;
    line-height: 1.5;
    padding-top: 15%;
  }
}

.image-container{
  height: 100%;
  position: absolute;
  @include prefix(display, flex, webkit ms moz);
  @include prefix(align-items, center, webkit ms moz);
}

.image{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  @include prefix(background-position, center, webkit ms moz);
  @include prefix(background-repeat, no-repeat, webkit ms moz);
  @include prefix(background-size, cover, webkit ms moz);
  z-index: 2;
}
