@import "main";
@import "mixins";

.page{
  @extend section;
  @include prefix(background-position, center, webkit ms moz);
  @include prefix(background-repeat, no-repeat, webkit ms moz);
  @include prefix(background-size, cover, webkit ms moz);
  z-index: 1;
  .left{
    padding-left: 5vw;
    left: 0;
    text-align: left;
  }
  .right{
    padding-right: 5vw;
    right: 0;
    text-align: right;
  }
}

// Define .text colour and .moving-image image in separate scss file.

.text{
  @extend .page;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  position:absolute;
  top: 0;
  z-index: 4;
  h2{
    color: inherit;
    font-weight: 400;
    font-size: 2.8em;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 5%;
  }

  h4{
    color: inherit;
    font-weight: 100;
    font-size: 2.3em;
    letter-spacing: 2px;
    margin: 0;
  }

  p{
    color: inherit;
    line-height: 1.5;
    padding-top: 15%;
    padding-right: 15%;
  }
}

.image-container{
  @extend .page;
  height: 100%;
  position: absolute;
  @include prefix(display, flex, webkit ms moz);
  @include prefix(align-items, center, webkit ms moz);
}
.moving-image{
  @extend .image-container;
  @include prefix(background-position, center, webkit ms moz);
  @include prefix(background-repeat, no-repeat, webkit ms moz);
  @include prefix(background-size, cover, webkit ms moz);
  z-index: 2;
}
