@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

html{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}

body, section{
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  color: #ffffff;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
h1{
  font-size: 2.7em;
  margin: 0 0;
  padding: 0 0;
}
h2{
  margin: 0 0;
  padding: 0 0;
  font-size: 2.2em;
}
h3{
  margin: 0 0;
  padding: 0 0;
  font-size: 1.5em;
}
h4{
  margin: 0 0;
  padding: 0 0;
  font-size: 1.3em;
}
p{
  font-size: 1.2em;
  margin: 0 0;
  padding: 0 0;
}


// Navbar
.main-navbar, .main-navbar-responsive{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
}
.main-list{
  min-width: 480px;
  max-width: 980px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  // -ms-flex-direction: column;
  // flex-direction: column;
  text-align: justify;
  a{
    display: block;
    line-height: 2;
    // transform: rotate(-90deg);
    // transform-origin: 50% 50%;
    font-size: 1.5em;
    color: #565656;
    height: 40px;
  }
  .active{
      border-bottom: 1px solid #565656;
  }
}
.mobile-list{
  display: none;
}

// Main Container
.main-container{
  height: 100%;
  z-index: 500;
  //display: inline-flex; - horizontal
  section{
    margin: 0;
    padding: 0;
    float: left;
  }
}

//Colors #f1c822;#a55b61;#fad195;

//About Page
.about{
  .about-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    h1{
      margin: 0;
      padding: 5px 0px;
      border: 5px solid #ffffff;
      border-radius: 10px;
    }
    p{
      margin: 0;
      padding: 50px 10px;
    }
  }
  .background{
    z-index: 0;
    background-image: url("mushu.JPG");
    div{
      margin: 0;
      padding: 0;
      background-color: #f1c822;
      background-color: #87b964;
      opacity: 0.85;
    }
  }
}

//Projects Page
.projects{
  .background{
    div{
      background-color: #C7D8C6;
    }
  }
}

//UBC Page
.ubc{
  .background{
    //background-image: url("ubc.jpg");
    div{
      background-color: #EFD9C1;

    }
  }
}

//Orbit Page
.orbit{
  .background{
    div{
      background-color: #CCCBC6;
    }
  }
}

.background{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  div{
    width: 100%;
    height: 100%;
  }
}

//footer
.testimonial{
  background-color: #565656;
  width: 100%;
  height: 60px;
  text-align: center;
  h4{
    padding: 5px 0;
  }
  p{
    font-size: .8em;
  }
  a{
    color: #99CED4;
  }
}
