@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700');

html{
  font-family: 'Quicksand', sans-serif!important;
  font-size: 100%;
}
body, section{
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  color: #565656;
  background-color: #E9E9E9;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #99CED4;
}
h1{
  font-family: 'Ubuntu', sans-serif!important;
  font-size: 3.8em!important;
  font-weight: 300!important;
  margin: 0 0!important;
  padding: 15px 0!important;
}
h2{
  margin: 0 0;
  padding: 5px 0;
  font-weight: 100;
  font-size: 2.3em;
}
h3{
  margin: 0 0;
  font-weight: 400;
  padding: 25px 0;
  font-size: 2.2em;
}
h4{
  margin: 0 0;
  font-size: 1.5em;
  font-weight: 100;
  padding: 25px 0;
}
h5{
  margin: 0 0;
  font-weight: 200;
  padding: 5px 0;
  font-size: 2.1em;
}


p{
  padding: 0 0;
  margin: 0 0;
  font-size: 1.2em;
}

// Navbar
.main-navbar, .main-navbar-responsive{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: #ffffff;
}
.main-list{
  min-width: 480px;
  max-width: 980px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: justify;
  height: 60px;
  a{
    display: block;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    color: #565656;
  }
  .active{
      border-bottom: 1.5px solid #99CED4;
      color: #99CED4;
  }
}
.mobile-list{
  display: none;
}

.github-logo{
  text-align: center;
  width: 40px;
  height: 40px;
}

// Main Container
.background{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  div{
    width: 100%;
    height: 100%;
  }
}
.main-container{
  height: 100%;
  z-index: 500;
  section{
    margin: 0;
    padding: 0;
    float: left;
  }
}

//About Page
.about{
  .about-container{
    .about-text-container{
      z-index: 1;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
    }
    .about-background{
      z-index: 0;
      width: 100vw;
      height: 100vh;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      div{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    }
  }
}
.about.first .about-background{
  background-image: url("../Media/mushu.JPG");
  div{
    background-color: #87b964;
  }
}
.about.second .about-background{
  background-image: url("../Media/sky.jpg");
  div{
    background-color: #f1c822;
  }
}
.about.third .about-background{
  background-image: url("../Media/vanier1.jpg");
  div{
    background-color: #77C9D4;
  }
}

//Orbit Page
.orbit{
  .satellite-container{
    position: relative;
    height: auto;
    text-align: center;
    .sat-heading{
      h3{
        color: red;
      }
      padding: 0 200px;
      padding-top: 50px;
      h2{
        padding-bottom: 20px;
      }
    }
  }
  .stm-container{
    position: relative;
    height: auto;
    text-align: center;
    .stm-heading{
      padding: 0 200px;
      padding-top: 50px;
      h2{
        padding-bottom: 20px;
      }
    }
    .vclip{
      z-index:5;
      width: 100%;
      padding: 50px 0;
      -webkit-box-align:center;
      -webkit-box-pack:center;
      display:-webkit-box;
      height: 540px;
      -webkit-transform: translate(0, 10%);
      -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
      -moz-transition: -moz-transform 0.7s, opacity 0.7s;
      transition: transform 0.7s, opacity 0.7s;
    }
    .end-image{
      z-index:5;
      display: none;
      width: 960px;
      height: 540px;
      overflow: hidden;
      -webkit-transform: translate(0, 0);
    }
  }
}
.orbit.init.animate .vclip{
  -webkit-transform: translate(0, 0);
	opacity: 1;
}
.orbit.init.complete .vclip{
  video{
    display: none;
  }
  .end-image{
    display: block;
  }
}

//Projects
.ubc{
  .intro-container{
    .intro-pic{
      background-image: url("../Media/claw2.jpg");
    }
  }
}

.projects{
  .slackbot{
      background-color: #ffffff;
    .body-container{
      .body-pic{
        background-image: url("../Media/bot-cropped.png");
      }
    }
  }
}

.intro-container{
  background-color: #F4F4F4;
  width: 100vw;
  height: 60vh;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  .intro-text{
    width: 50%;
    color: #565656;
    box-sizing: border-box;
    padding: 100px 100px;
  }
  .intro-pic{
    height: 100%;
    display: block;
    width: 50%;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.intro-container.right{
  .intro-text{
    float: right;
    text-align: right;
  }
  .intro-pic{
    float: left;
  }
}

.body-head.middle{
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 50px;
}

.body-container.middle{
  // width: 100vw;
  // height: 100vh;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  .body-text.left{
    width: 30%;
    box-sizing: border-box;
    padding: 50px 50px;
  }
  .body-pic.middle{
    width: 40vw;
    height: 80vh;
    display: block;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .body-text.right{
    width: 30%;
    box-sizing: border-box;
    padding: 50px 50px;
  }
}

//footer
.testimonial{
  background-color: #565656;
  width: 100%;
  text-align: center;
  color: #ffffff;
  p{
    font-size: 0.8em;
  }
}

// .diamond {
//   z-index: 9998;
//   background-color: #565656;
//   position: absolute;
//   bottom: 200px;
//   left: 50%;
//   -webkit-transform: translate(-50%, 15%);
//   -webkit-transition: all 1s ease;
//   -webkit-clip-path: circle(50%);
//   shape-inside: circle(50%);
//   width: 60px;
//   height: 60px;
//   text-align: center;
//   .circle-text-container{
//     width : 70%;
//   	height : 70%;
//   	max-width : 70%;
//   	max-height : 70%;
//   	margin : 0;
//   	padding : 0;
//   	/* some position nudging to center the text area */
//   	position : relative;
//   	left : 15%;
//   	top : 4%;
//   	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
//   	transform-style : preserve-3d;
//   }
//   p{
//     font-weight: 100;
//     font-size: 2em;
//     font-family: 'Ubuntu', sans-serif;
//   }
// }
// .diamond:hover {
//   bottom: 90px;
//   width: 300px;
//   height: 300px;
//   -webkit-clip-path: circle(50%);
//   shape-inside: circle(50%);
// }

// transform: rotate(-90deg);
// transform-origin: 50% 50%;

// -ms-flex-direction: column;
// flex-direction: column;

// display: inline-flex;
  //display: inline-flex; - horizontal
