@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700');

html{
  color: black;
  font-family: 'Quicksand', sans-serif!important;
  font-size: 100%;
}
body, section{
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  color: #ffffff;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 6em!important;
  font-weight: 200!important;
  margin: 0 0!important;
  padding: 15px 0!important;
}
h2{
  margin: 0 0;
  padding: 5px 0;
  font-weight: 100;
  font-size: 2.5em;
}
h3{
  margin: 0 0;
  font-weight: 100;
  padding: 5px 0;
  font-size: 1.5em;
}
h4{
  margin: 0 0;
  padding: 5px 0;
  font-size: 1.3em;
}
p{
  padding: 0 0;
  margin: 0 0;
  font-size: 1.2em;
}

// Navbar
.main-navbar, .main-navbar-responsive{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
}
.main-list{
  min-width: 480px;
  max-width: 980px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  // -ms-flex-direction: column;
  // flex-direction: column;
  text-align: justify;
  a{
    display: block;
    line-height: 2;
    font-family: 'Ubuntu', sans-serif;
    // transform: rotate(-90deg);
    // transform-origin: 50% 50%;
    font-size: 1.5em;
    font-weight: 100;
    color: #565656;
    height: 38px;
  }
  .active{
      border-bottom: 1.5px solid #565656;
  }
}
.mobile-list{
  display: none;
}

.github-logo{
  text-align: center;
  width: 40px;
  height: 40px;
}

// Main Container
.background{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  div{
    width: 100%;
    height: 100%;
  }
}
.main-container{
  height: 100%;
  z-index: 500;
  //display: inline-flex; - horizontal
  section{
    margin: 0;
    padding: 0;
    float: left;
  }
}

//About Page
.about{
  .about-container{
    .about-text-container{
      z-index: 1;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .about-background{
      z-index: 0;
      width: 100vw;
      height: 100vh;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      div{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    }
    // .diamond {
    //   z-index: 9998;
    //   background-color: #565656;
    //   position: absolute;
    //   bottom: 200px;
    //   left: 50%;
    //   -webkit-transform: translate(-50%, 15%);
    //   -webkit-transition: all 1s ease;
    //   -webkit-clip-path: circle(50%);
    //   shape-inside: circle(50%);
    //   width: 60px;
    //   height: 60px;
    //   text-align: center;
    //   .circle-text-container{
    //     width : 70%;
    //   	height : 70%;
    //   	max-width : 70%;
    //   	max-height : 70%;
    //   	margin : 0;
    //   	padding : 0;
    //   	/* some position nudging to center the text area */
    //   	position : relative;
    //   	left : 15%;
    //   	top : 4%;
    //   	/* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
    //   	transform-style : preserve-3d;
    //   }
    //   p{
    //     font-weight: 100;
    //     font-size: 2em;
    //     font-family: 'Ubuntu', sans-serif;
    //   }
    // }
    // .diamond:hover {
    //   bottom: 90px;
    //   width: 300px;
    //   height: 300px;
    //   -webkit-clip-path: circle(50%);
    //   shape-inside: circle(50%);
    // }
  }
}
.about.first .about-background{
  background-image: url("../Media/mushu.JPG");
  div{
    background-color: #87b964;
  }
}
.about.second .about-background{
  background-image: url("../Media/sky.jpg");
  div{
    background-color: #f1c822;
  }
}
.about.third .about-background{
  background-image: url("../Media/vanier1.jpg");
  div{
    // background-color: #a55b61;
    background-color: #77C9D4;
  }
}

//Projects Page
.projects-container{
  position: relative;
  .background{
    div{
      background-color: #C7D8C6;
    }
  }
}

//UBC Page
.ubc-container{
  position: relative;
  .background{
    div{
      background-color: #EFD9C1;
    }
  }
}

//Orbit Page
.orbit{
  .satellite-container{
    position: relative;
    background-color: #D1D0CD;
    height: auto;
    text-align: center;
    .sat-heading{
      padding: 0 200px;
      padding-top: 50px;
      h2{
        padding-bottom: 20px;
      }
    }
  }
  .stm-container{
    position: relative;
    background-color: #D1D0CD;
    height: auto;
    // display: inline-flex;
    text-align: center;
    .stm-heading{
      padding: 0 200px;
      padding-top: 50px;
      h2{
        padding-bottom: 20px;
      }
    }
    .vclip{
      z-index:5;
      width: 100%;
      padding: 50px 0;
      -webkit-box-align:center;
      -webkit-box-pack:center;
      display:-webkit-box;
      height: 540px;
      -webkit-transform: translate(0, 10%);
      -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
      -moz-transition: -moz-transform 0.7s, opacity 0.7s;
      transition: transform 0.7s, opacity 0.7s;
    }
    .end-image{
      z-index:5;
      display: none;
      width: 960px;
      height: 540px;
      overflow: hidden;
      -webkit-transform: translate(0, 0);
    }
  }
}
.orbit.init.animate .vclip{
  -webkit-transform: translate(0, 0);
	opacity: 1;
}
.orbit.init.complete .vclip{
  video{
    display: none;
  }
  .end-image{
    display: block;
  }
}

.intro-container{
  color: #565656;
  text-align: center;
  position: relative;
  .intro-heading{
    width: 100%;
    h1{
      padding: 80px 0;
    }
  }
  .info-panel{
    display: inline-flex;
    .intro-text{
      float: left;
      h3{
      padding: 0 50px;
      padding-bottom: 100px;
      padding-top: 16px;
      a{
        color: #99CED4;
      }
      }
    }
    .intro-pic{
      padding-left: 50px;
      padding-bottom: 84px;
    }
  }
}

//footer
.testimonial{
  background-color: #565656;
  width: 100%;
  text-align: center;
  p{
    font-size: 0.8em;
  }
  a{
    color: #99CED4;
  }
}
